{
  "extends": ["eslint:recommended"],
  "rules": {},
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "env": {
    "commonjs": true,
    "browser": true,
    "node": true,
    "jasmine": true
  },
  "globals": {
    "MagicStick": true
  }
}
