*.swp
.bundle/
path/
.sass-cache/
node_modules/
npm-debug.log
public/js/app.js
public/bower_components
public/css/app.css
public/css/app.css.map
public/js/templates.js
public/js/tests.js
*.db
vendor/bundle
.env
