# data source
DATABASE_URL=postgress://user:password@host:port/database

# runtime and build time settings
LANG=en_US.UTF-8
NPM_CONFIG_PRODUCTION=false
RACK_ENV=production

# for encryption/decryption
SECRET=deadbeef

# for emails
SENDGRID_PASSWORD=pass
SENDGRID_USERNAME=user

# for slack notifications
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/special/token/here

# used for invites and api access
SLACK_SUBDOMAIN=magic-stick # magic-stick.slack.com
SLACK_ADMIN_TOKEN=deadbeeffeed

# for link generation in emails and slack messages
SITE_BASE_URI=http://magic-stick.herokuapp.com/

# for jwt HS256 encoding/decoding and login
HMAC_SECRET=super-secret
AUTH0_CLIENT_SECRET=secret-set-by-addon
AUTH0_CLIENT_ID=id-set-by-addon
AUTH0_DOMAIN=domain-set-by-addon
SINATRA_PUBLIC_ENV_AUTH0_CLIENT_ID=the-same-id
SINATRA_PUBLIC_ENV_AUTH0_DOMAIN=the-same-domain

# logging
LOG_LEVEL=info

# raygun for error reporting
RAYGUN_APIKEY=somekey-set-by-addon
SINATRA_PUBLIC_ENV_RAYGUN_API_KEY=the-same-key
