# data source
DATABASE_URL=postgress://user:password@host:port/database

# runtime and build time settings
LANG=en_US.UTF-8
NPM_CONFIG_PRODUCTION=false
RACK_ENV=production

# for encryption/decryption
SECRET=deadbeef

# for emails
SENDGRID_PASSWORD=pass
SENDGRID_USERNAME=user

# for slack notifications
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/special/token/here

# used for invites and api access
SLACK_SUBDOMAIN=magic-stick # magic-stick.slack.com
SLACK_ADMIN_TOKEN=deadbeeffeed

# for link generation in emails and slack messages
SITE_BASE_URI=http://magic-stick.herokuapp.com/

# for jwt HS256 generation
HMAC_SECRET=super-secret

# logging
LOG_LEVEL=info

# raygun
RAYGUN_APIKEY=somekey
