DATABASE_URL=postgress://user:password@host:port/database
LANG=en_US.UTF-8
NPM_CONFIG_PRODUCTION=false
RACK_ENV=production
SECRET=deadbeef
SENDGRID_PASSWORD=pass
SENDGRID_USERNAME=user
SITE_BASE_URI=http://magic-stick.herokuapp.com/
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/special/token/here
