<div class="leaderboard-view">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Rank</th>
        <th>User</th>
        <th>Match Wins</th>
        <th>Game Wins</th>
        <th>Matches Unplayed</th>
        <th>Matches Lost</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="rank in rankings">
        <td class="rank rank-overall">{{rank.rank}}</td>
        <td>
          <user-view user="rank.member"></user-view>
        </td>
        <td class="rank rank-wins">{{rank.matchWins}}</td>
        <td class="rank rank-wins">{{rank.gameWins}}</td>
        <td class="rank">{{rank.matchUnplayed}}</td>
        <td class="rank rank-loss">{{rank.matchLoss}}</td>
      </tr>
    </tbody>
  </table>
</div>
