<div class="leaderboard-view">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Rank</th>
        <th>User</th>
        <th>Matches (Win/Loss/Unplayed)</th>
        <th>Game Wins</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="rank in rankings">
        <td><span class="rank rank-overall">{{rank.rank}}</span></td>
        <td>
          <user-view user="rank.member"></user-view>
        </td>
        <td>
          <span class="rank">
            <span class="rank rank-wins">{{rank.matchWins}}</span> /
            <span class="rank rank-loss">{{rank.matchLoss}}</span> /
            <span class="rank rank-unplayed">{{rank.matchUnplayed}}</span>
          </span>
        </td>
        <td><span class="rank rank-wins">{{rank.gameWins}}</span></td>
      </tr>
    </tbody>
  </table>
</div>
