<div class="login-dialog" ng-if="allowReset">
  <h3>Reset Your Password</h3>
  <form ng-submit="attemptUpdatePassword()">
    <div class="form-group">
      <label for="password">New Password</label>
      <input class="form-control" id="password" type="password" ng-model="user.password">
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirm New Password</label>
      <input class="form-control" id="confirmPassword" type="password" ng-model="user.confirmPassword">
    </div>
    <button
      ng-disabled="user.password == null || user.password == '' || user.password !== user.confirmPassword || user.password.length < 8"
      class="btn btn-primary"
      type="submit">
      Reset Password
    </button>
  </form>
</div>
<div class="login-dialog" ng-if="!allowReset">
  <a href="/#!/">Login</a>
</div>
