<div class="me" ng-show="user">
  <div
    ng-show="!edit"
    class="pull-right">
    <button
      class="btn btn-primary"
      type="button"
      ng-click="editProfile()">Edit Profile</button>
    <button
      class="btn btn-default"
      type="button"
      ng-click="logout()">Logout</button>
  </div>
  <div class="page-header">
    <h2>
      {{user.username}}
    </h2>
  </div>
  <div ng-show="!edit" class="row">
    <div class="col-sm-10">
      <dl class="dl-horizontal">
        <dt ng-show="user.name">Name</dt>
        <dd ng-show="user.name">{{user.name}}</dd>

        <dt>Email</dt><dd>{{user.email}}</dd>

        <dt ng-show="user.catchphrase">Catchphrase</dt>
        <dd ng-show="user.catchphrase">“{{user.catchphrase}}”</dd>

        <dt>Slack Status</dt>
        <dd>
          {{slack.in_slack ? 'Joined' : 'Not Joined'}}.
          <span ng-if="slack.in_slack">
            <button
              ng-disabled="slackInviteSent"
              ng-click="sendSlackInvite()"
              type="button"
              class="btn btn-xs btn-primary">
              {{slackInviteSent ? 'Invite sent' : 'Send me an invite!'}}
            </button>
          </span>
        </dd>

        <dt ng-show="user.roles.length">Roles</dt>
        <dd ng-show="user.roles.length">
          <ul class="list-unstyled">
            <li ng-repeat="role in user.roles">{{role}}</li>
          </ul>
        </dd>
      </dl>
    </div>
    <div class="col-sm-2">
      <div class="thumbnail" id="avatar-selector">
        <a ngf-select ng-model="avatars">
          <img ng-src="{{user.avatar_url}}" alt="avatar" />
        </a>
      </div>
    </div>
  </div>
  <form ng-show="edit" ng-submit="saveProfile()" class="form-horizontal">
    <form-input
      label="Name"
      type="text"
      model="user.name"
      error-model="errors.name"
      >
    </form-input>
    <form-input
      label="Email"
      type="text"
      model="user.email"
      error-model="errors.email"
      >
    </form-input>
    <form-input
      label="Catchphrase"
      type="text"
      model="user.catchphrase"
      error-model="errors.catchphrase"
      >
    </form-input>
    <form-input
      label="Current Password"
      type="password"
      model="user.passwordCurrent"
      error-model="errors.passwordCurrent"
      >
    </form-input>
    <form-input
      label="New Password"
      type="password"
      model="user.password"
      error-model="errors.password"
      >
    </form-input>
    <form-input
      label="Confirm Password"
      type="password"
      model="user.passwordConfirmation"
      error-model="errors.passwordConfirmation"
      >
    </form-input>
    <div style="left:-15px;position:relative">
      <button
        type="submit"
        class="btn btn-primary">Update</button>
      <button
        ng-click="cancelEdits()"
        type="button"
        class="btn btn-default">Cancel</button>
    </div>
  </form>
</div>
