<div class="season-view">
  <div class="page-header">
    <h2>Seasons</h2>
  </div>
  <tabset>
    <tab heading="Browse">
      <season-list seasons="seasons"></season-list>
    </tab>
    <tab heading="Create">
      <form ng-submit="createSeason()">
        <form-input
          label="Name"
          type="text"
          model="newSeason.name"
          error-model="newSeasonError.name">
        </form-input>
        <form-input
          label="Description"
          type="text"
          model="newSeason.description"
          error-model="newSeasonError.description">
        </form-input>
        <form-input
          label="Start Date"
          type="date"
          model="newSeason.starts"
          error-model="newSeasonError.starts"
          >
        </form-input>
        <form-input
          label="End Date"
          type="date"
          model="newSeason.ends"
          error-model="newSeasonError.ends"
          >
        </form-input>        
        <div class="form-group">
          <label for="invite_only">Invite Only</label>
          <input id="invite_only"
            type="checkbox"
            ng-change="assertJoinType('invite_only')"
            ng-model="newSeason.invite_only">
        </div>
        <div class="form-group">
          <label for="allow_auto_join">Allow Auto-Join</label>
          <input id="allow_auto_join"
            type="checkbox"
            ng-model="newSeason.allow_auto_join"
            ng-change="assertJoinType('allow_auto_join')"
          >
        </div>
        <button type="submit" class="btn">Submit</button>
      </form>
    </tab>
  </tabset>
</div>
