<div class="season-manage">
  <div class="page-header">
    <!-- TODO breadcrumb directive -->
    <h2><a href="/#!/seasons">Seasons</a> &gt; {{season.id}}</h2>
  </div>
  <!-- TODO directives for these tabs / panes -->
  <div class="panel panel-default">
    <div class="panel-heading">Attributes</div>
    <table class="table">
      <tr><td>Name</td><td>{{season.name}}</td></tr>
      <tr><td>Owner</td><td>{{season.owner.username}}</td></tr>
      <tr><td>Created</td><td>{{season.created_at}}</td></tr>
      <tr><td>Updated</td><td>{{season.updated_at}}</td></tr>
      <tr><td>Starts</td><td>{{season.starts}}</td></tr>
      <tr><td>Ends</td><td>{{season.ends}}</td></tr>
      <tr><td>Description</td><td>{{season.description}}</td></tr>
      <tr><td>Auto Join Enabled?</td><td>{{season.allow_auto_join && "Yes" || "No"}}</td></tr>
      <tr><td>Invite Only?</td><td>{{season.invite_only && "Yes" || "No"}}</td></tr>
      <tr><td>Archived?</td><td>{{season.is_archived && "Yes" || "No"}}</td></tr>
    </table>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Members</div>
    <div class="panel-body" ng-if="seasonOwner()">
      <p>Add users to the current season below.</p>
      <form class="form-inline">
        <div class="form-group">
          <label for="newMemberLookup">Username</label>
          <input
            type="text"
            class="form-control"
            typeahead="user as user.username for user in findMembersMatching($viewValue)"
            id="newMemberLookup"
            ng-model="newMember">
        </div>
        <button
          type="button"
          class="btn btn-primary"
          ng-disabled="!newMember.id"
          ng-click="addSeasonMember(newMember)">
          Add Member
        </button>
      </form>
    </div>
    <table class="table">
      <tr ng-repeat="member in season.members">
        <td>{{member.username}}</td>
        <td ng-if="seasonOwner()">
          <button
            type="button"
            class="btn btn-danger"
            ng-click="removeSeasonMember(member)">
            Remove
          </button>
        </td>
      </tr>
    </table>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Match Groups</div>
    <div class="panel-body" ng-if="seasonOwner()">
      <p>
        Season matches are divided into groupings; groupings represent
        a logical collection of matches (eg: week 1, week 2, playoffs, etc).
        To create matches, there must first exist a grouping to add them to.
      </p>
      <form class="form-inline">
        <form-input
          label="Grouping Name"
          type="text"
          model="newGroupingName"
          error-model="newGroupingNameError"></form-input>
        <button
          ng-disabled="!newGroupingName"
          type="button"
          ng-click="createSeasonGrouping(newGroupingName)"
          class="btn btn-primary">
          Create Season Group
        </button>
      </form>
    </div>
    <table class="table">
      <tbody ng-repeat="group in season.season_match_groups">
        <tr>
          <td><h3>{{group.name}}</h3></td>
          <td>
            <button
              type="button"
              class="btn btn-default"
              ng-click="group.viewingMatches = !group.viewingMatches">
              {{group.viewingMatches ? "Hide Matches" : "View Matches (" + (group.matches == null ? "0" : group.matches.length) +")"}}
            </button>
            <button
              ng-if="seasonOwner()"
              type="button"
              class="btn btn-danger"
              ng-click="removeSeasonGrouping(group)">
              Remove
            </button>
          </td>
        </tr>
        <tr ng-if="group.viewingMatches">
          <td colspan="2">
            <div ng-repeat="match in group.matches" class="row">
              <div class="col-md-12">
                <h3 ng-class="{'green-text': match.completed, 'purple-text': !match.completed}">
                  Match #{{match.id}}
                  <button
                    type="button"
                    class="btn btn-danger"
                    ng-click="deleteMatch(group.id, match.id)">
                    Delete
                  </button>
                </h3>
<!--              <a
                ng-href="/#!/seasons/{{season.id}}/match-groups/{{group.id}}/matches/{{match.id}}">
                Match #{{match.id}}
              </a> TODO seperate edit page-->
                <div class="row">
                  <div class="col-md-12">
                    <h3>Members</h3>
                    <form class="form-inline" ng-if="seasonOwner()">
                      <div class="form-group">
                        <label for="nextMatchMember">Add Match Member</label>
                        <select
                          id="nextMatchMember"
                          class="form-control"
                          ng-model="nextMatchMember"
                          ng-options="user as user.username for user in season.members">
                        </select>
                      </div>
                      <button
                        ng-disabled="nextMatchMember == null"
                        ng-click="addNextMatchMember(nextMatchMember, group.id, match.id)"
                        class="btn btn-default"
                        type="button">
                        Add to Match
                      </button>
                    </form>
                    <table class="table">
                      <tr ng-repeat="user_season_match in match.user_season_match">
                        <td>
                          {{user_season_match.user_season.user.username}}
                        </td>
                        <td ng-if="!seasonOwner() && !isMatchMember(match)">
                          {{
                            (user_season_match.won === null && "Not Played") ||
                            (user_season_match.won === false  && "Lost") ||
                            (user_season_match.won === true && "Won")
                          }}
                        </td>
                        <td ng-if="seasonOwner() || isMatchMember(match)">
                          <form name="match{{match.id}}form">
                            <label>
                              <input
                                ng-model="user_season_match.won"
                                ng-value="false"
                                type="radio"
                                name="match-{{match.id}}-user-{{user_season_match.user_season.user.id}}">
                              Lost
                            </label>
                            <label>
                              <input
                                ng-model="user_season_match.won"
                                ng-value="true"
                                type="radio"
                                name="match-{{match.id}}-user-{{user_season_match.user_season.user.id}}">
                              Won
                            </label>
                            <label>
                              <input
                                ng-model="user_season_match.won"
                                ng-value="null"
                                type="radio"
                                name="match-{{match.id}}-user-{{user_season_match.user_season.user.id}}">
                              Not Played
                            </label>
                            <button
                              ng-click="updateMatchStatus(group.id, match.id, user_season_match.user_season.user.id, user_season_match.won)"
                              ng-disabled="!match{{match.id}}form.$dirty"
                              type="button"
                              class="btn btn-primary">
                              Update Status
                            </button>
                          </form>
                        </td>
                        <td>
                          <button
                            type="button"
                            class="btn btn-danger"
                            ng-click="removeMatchMember(user_season_match.user_season.user.id, group.id, match.id)"
                            ng-if="seasonOwner()">
                            Remove
                          </button>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              <hr>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Matches</div>
    <div class="panel-body" ng-if="seasonOwner()">
      <p>Matches represent games to be played between multiple people.</p>
        <form-input
          label="Scheduled For"
          type="date"
          model="newMatch.scheduled_for"
          error-model="newMatchError.scheduled_for"></form-input>
        <form-input
          label="Description"
          type="text"
          model="newMatch.description"
          error-model="newMatchError.description"></form-input>
        <form-input
          label="Match Group"
          type="select"
          options="season.season_match_groups"
          model="newMatch.season_match_group_id"
          error-model="newMatchError.season_match_group_id"></form-input>
        <button
          ng-disabled="newMatch.season_match_group_id == null"
          type="button"
          ng-click="createMatch()"
          class="btn btn-primary">
          Create Match
        </button>
    </div>
  </div>

  <div class="panel panel-default comments" auth>
    <div class="panel-heading">Comments</div>
    <div class="panel-body">
      <div ng-if="!comment.hidden" class="panel panel-info comment-cell" ng-repeat="comment in comments">
        <div class="header panel-heading">
          <b>{{comment.user.username}}</b> added a comment at {{comment.created_at}}
          <i
            title="Updated at {{comment.updated_at}}"
            ng-if="comment.created_at != comment.updated_at">
            (editted)
          </i>
          <div class="pull-right">
            <button
              ng-click="deleteComment(comment)"
              ng-if="seasonOwner() || hasCommentPrivs(comment)"
              type="button"
              class="btn btn-xs btn-default">
              Delete
            </button>
            <button
              ng-disabled="comment.editMode"
              ng-if="hasCommentPrivs(comment)"
              type="button"
              ng-click="enterEditMode(comment)"
              class="btn btn-xs btn-default">
              Edit
            </button>
          </div>
        </div>
        <div class="body panel-body">
          <div
            ng-if="!comment.editMode"
            marked="comment.comment">
          </div>
          <div
            ng-if="comment.editMode">
            <tabset>
              <tab heading="Write">
                <div class="form-group" ng-class="{'has-error': comment.error != null}">
                  <textarea
                    rows="4"
                    class="form-control edit-comment"
                    ng-model="comment.comment">
                  </textarea>
                  <span class="help-block" ng-if="comment.error">
                    {{comment.error}}
                  </span>
                </div>
              </tab>
              <tab heading="Preview">
                <div marked="comment.comment" class="preview"></div>
              </tab>
            </tabset>
            <button
              ng-disabled="commentUnchanged(comment)"
              ng-click="updateComment(comment)"
              type="button"
              class="btn btn-success">
              Save
            </button>
            <button
              ng-click="cancelEditMode(comment)"
              type="button"
              class="btn">
              Cancel
            </button>
            <span class="markdown-help">
              <a href="https://guides.github.com/features/mastering-markdown/" target="_blank">Markdown</a> supported
            </span>
          </div>
        </div>
      </div>
      <div class="new-comment">
        <!-- TODO directive for comment editting / creation -->
        <h3>Add A Comment</h3>
        <tabset>
          <tab heading="Write">
            <div class="form-group" ng-class="{'has-error': comment.error != null}">
              <textarea
                rows="4"
                class="form-control new-comment"
                ng-model="comment.comment">
              </textarea>
              <span class="help-block" ng-if="comment.error">
                {{comment.error}}
              </span>
            </div>
          </tab>
          <tab heading="Preview">
            <div marked="comment.comment" class="preview"></div>
          </tab>
        </tabset>
        <button
          ng-disabled="commentUnchanged(comment)"
          ng-click="addComment(comment)"
          type="button"
          class="btn btn-success">
          Submit
        </button>
        <span class="markdown-help">
          <a href="https://guides.github.com/features/mastering-markdown/" target="_blank">Markdown</a> supported
        </span>
      </div>
    </div>
  </div>
</div>
