<div class="season-manage">
  <div class="page-header">
    <!-- TODO breadcrumb directive -->
    <h2><a href="/#!/seasons">Seasons</a> &gt; {{season.id}}</h2>
  </div>
  <!-- TODO directives for these tabs / panes -->
  <div class="panel panel-default">
    <div class="panel-heading">Attributes</div>
    <table class="table">
      <tr><td>Name</td><td>{{season.name}}</td></tr>
      <tr><td>Owner</td><td>{{season.owner.username}}</td></tr>
      <tr><td>Created</td><td>{{season.created_at}}</td></tr>
      <tr><td>Updated</td><td>{{season.updated_at}}</td></tr>
      <tr><td>Starts</td><td>{{season.starts}}</td></tr>
      <tr><td>Ends</td><td>{{season.ends}}</td></tr>
      <tr><td>Description</td><td>{{season.description}}</td></tr>
      <tr><td>Auto Join Enabled?</td><td>{{season.allow_auto_join && "Yes" || "No"}}</td></tr>
      <tr><td>Invite Only?</td><td>{{season.invite_only && "Yes" || "No"}}</td></tr>
      <tr><td>Archived?</td><td>{{season.is_archived && "Yes" || "No"}}</td></tr>
    </table>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Members</div>
    <div class="panel-body" ng-if="seasonOwner()">
      <p>Add users to the current season below.</p>
      <form class="form-inline">
        <div class="form-group">
          <label for="newMemberLookup">Username</label>
          <input
            type="text"
            class="form-control"
            typeahead="user as user.username for user in findMembersMatching($viewValue)"
            id="newMemberLookup"
            ng-model="newMember">
        </div>
        <button
          type="button"
          class="btn btn-primary"
          ng-disabled="!newMember.id"
          ng-click="addSeasonMember(newMember)">
          Add Member
        </button>
      </form>
    </div>
    <table class="table">
      <tr ng-repeat="member in season.members">
        <td>{{member.username}}</td>
        <td ng-if="seasonOwner()">
          <button
            type="button"
            class="btn btn-danger"
            ng-click="removeSeasonMember(member)">
            Remove
          </button>
        </td>
      </tr>
    </table>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Match Groups</div>
    <div class="panel-body" ng-if="seasonOwner()">
      <p>
        Season matches are divided into groupings; groupings represent
        a logical collection of matches (eg: week 1, week 2, playoffs, etc).
        To create matches, there must first exist a grouping to add them to.
      </p>
      <form class="form-inline">
        <form-input
          label="Grouping Name"
          type="text"
          model="newGroupingName"
          error-model="newGroupingNameError"></form-input>
        <button
          ng-disabled="!newGroupingName"
          type="button"
          ng-click="createSeasonGrouping(newGroupingName)"
          class="btn btn-primary">
          Create Season Group
        </button>
      </form>
    </div>
    <table class="table">
      <tbody ng-repeat="group in season.season_match_groups">
        <tr>
          <td>{{group.name}}</td>
          <td>
            <button
              type="button"
              class="btn btn-default"
              ng-click="group.viewingMatches = !group.viewingMatches">
              {{group.viewingMatches ? "Hide Matches" : "View Matches (" + group.matches.length +")"}}
            </button>
            <button
              type="button"
              class="btn btn-danger"
              ng-click="removeSeasonGrouping(group)">
              Remove
            </button>
          </td>
        </tr>
        <tr ng-if="group.viewingMatches">
          <td colspan="2">
            <div ng-repeat="match in group.matches" class="row">
              <div class="col-md-12">
                <h3 ng-class="{'green-text': match.completed, 'purple-text': !match.completed}">Match #{{match.id}}</h3>
<!--              <a
                ng-href="/#!/seasons/{{season.id}}/match-groups/{{group.id}}/matches/{{match.id}}">
                Match #{{match.id}}
              </a> TODO seperate edit page-->
                <div class="row">
                  <div class="col-md-12">
                    <h3>Members</h3>
                    <ul>
                      <li ng-repeat="participant in match.participants">
                        {{participant.username}}
                        <button type="button" class="btn btn-danger" ng-click="" ng-if="seasonOwner()">
                          Remove
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
              <hr>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Matches</div>
    <div class="panel-body" ng-if="seasonOwner()">
      <p>Matches represent games to be played between multiple people.</p>
        <form-input
          label="Scheduled For"
          type="date"
          model="newMatch.scheduled_for"
          error-model="newMatchError.scheduled_for"></form-input>
        <form-input
          label="Description"
          type="text"
          model="newMatch.description"
          error-model="newMatchError.description"></form-input>
        <form-input
          label="Match Group"
          type="select"
          options="season.season_match_groups"
          model="newMatch.season_match_group_id"
          error-model="newMatchError.season_match_group_id"></form-input>
        <button
          ng-disabled="newMatch.season_match_group_id == null"
          type="button"
          ng-click="createMatch()"
          class="btn btn-primary">
          Create Match
        </button>
    </div>
  </div>
</div>
