<div>
  <div class="page-header">
    <h2>
      {{user.username}}
    </h2>
  </div>
  <div class="row">
    <div class="col-sm-10">
      <dl class="dl-horizontal">
        <dt ng-show="user.name">Name</dt>
        <dd ng-show="user.name">{{user.name}}</dd>

        <dt ng-show="user.catchphrase">Catchphrase</dt>
        <dd ng-show="user.catchphrase">“{{user.catchphrase}}”</dd>

        <dt ng-show="user.roles.length">Roles</dt>
        <dd ng-show="user.roles.length">
          <ul class="list-unstyled">
            <li ng-repeat="role in user.roles">{{role}}</li>
          </ul>
        </dd>
      </dl>
    </div>
    <div class="col-sm-2">
      <div class="thumbnail" id="avatar-selector">
        <a ng-model="avatars">
          <img ng-src="{{user.avatar_url}}" alt="avatar" />
        </a>
      </div>
    </div>
  </div>
</div>
